.rutaDefault {
  animation: fadeIn 2s;
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: sizeBasedOnTitle(1);
  font-weight: bold;
  color: $pantone2202C;
  text-align: center;

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1 !important;
    }
  }
}
